whisper_env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
test_dataset/
logs/
api/logs/
asr_api/
models/
model_for_finetune/
api/audio_files/
.pre-commit-config.yaml
*.DS_Store
asr_run.log
convert.log
taigi-ct2/
*_asr.txt
*.srt